body {
  padding-bottom: 20px;
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  margin-bottom: 20px;
}

.jumbotron {
  background-color: #e9ecef;
  padding: 2rem;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
}

.card {
  height: 100%;
}

article .content {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}